<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>day08_00_servlet</display-name>
  <servlet>
    <servlet-name>servletDemo01</servlet-name>
    <servlet-class>com.vero.servlet.ServletDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo01</servlet-name>
    <url-pattern>/demo01</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servletDemo02</servlet-name>
    <servlet-class>com.vero.servlet.ServletDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo02</servlet-name>
    <url-pattern>/demo02</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servletDemo03</servlet-name>
    <servlet-class>com.vero.servlet.ServletDemo03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo03</servlet-name>
    <url-pattern>/demo03</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servletDemo04</servlet-name>
    <servlet-class>com.vero.servlet.ServletDemo04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo04</servlet-name>
    <url-pattern>/demo04</url-pattern>
  </servlet-mapping>
  <!--  多种方式的映射
	  <servlet-mapping>
	    <servlet-name>servletDemo04</servlet-name>
	    <url-pattern>/servlet/demo04</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>servletDemo04</servlet-name>
	    <url-pattern>/servlet/demo0444</url-pattern>
	  </servlet-mapping>
	  
	  <servlet-mapping>
   		<servlet-name>servletDemo04</servlet-name>
    	<url-pattern>*.do</url-pattern>
  	  </servlet-mapping>
  	  
  	  <servlet-mapping>
        <servlet-name>servletDemo04</servlet-name>
        <url-pattern>/*</url-pattern>
  	  </servlet-mapping>
  	  
  	  <servlet-mapping>
        <servlet-name>servletDemo04</servlet-name>
        <url-pattern>/action/*</url-pattern>
  	  </servlet-mapping>
  
  -->
  <servlet>
    <servlet-name>servletDemo05</servlet-name>
    <servlet-class>com.vero.servlet.ServletDemo05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo05</servlet-name>
    <url-pattern>/demo05</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index2.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>